body {
    background-color: rgb(0, 130, 170);
    color: aliceblue;
}
h1 {
    color: rgb(0, 255, 200);
    background-color: rgb(127, 204, 255);
    border-radius: 10px;
    text-align: center;
}
