@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap&#39');

body { font: 12pt Arial; }
h1, h2, h3 { font-family: 'Pacifico', cursive; font-weight: normal;}
button { font-size: 12pt; padding: 30px; }

body {
    background-color: rgb(0, 0, 0);
    color: aliceblue;
    text-align: center;
    font-size: 30px;
}
button {
    color: aliceblue;
    background-color: blue;
    border-radius: 16px;
}